# Default ignored files
/shelf/
/.idea/workspace.xml

# -------------------------
# IntelliJ IDEA
# -------------------------
.idea/
*.iml

# -------------------------
# Database locale
# -------------------------
data/

# -------------------------
# Compilati e build
# -------------------------
out/
target/
*.class
*.log